:root {
    --light-color: rgb(242, 242, 242);
    --dark-color: rgb(63, 61, 86);
    --purple-color: rgb(108, 99, 255);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 2000px;
}

nav {
    top: 0;
    left: 0;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-color);
    color: var(--dark-color);
}


nav .logo {
    font-weight: 900;
    font-size: 2rem;
    cursor: pointer;
}

nav .logo span {
    color: var(--purple-color);
}

nav .link a {
    font-size: 1rem;
    padding: .4em .9em;
    color: var(--dark-color);
    text-decoration: none;
    margin: 0 10;
    border-radius: 5px;
    transition: 0.2s;
}

nav .link .link-item:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
}

nav .link .sign-up {
    background-color: var(--purple-color);
    color: var(--light-color);
}

nav .link .sign-up:hover {
    box-shadow: 5px 5px #888888
}

nav .hamburger {
    border: 1px solid var(--dark-color);
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
}

header {
    margin-top: 75px;
    background-color: var(--purple-color);
    width: 100%;
}

header .wrapper-header {
    width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
}

header .wrapper-header .image-header {
    width: 50%;
}

header .wrapper-header .content-header {
    width: 50%;
    box-sizing: border-box;
    padding: 50px;
    color: var(--light-color);
}

header .wrapper-header .content-header a {
    text-decoration: none;
    color: var(--light-color);
    border: 1px solid var(--light-color);
    padding: 0.5em 1em;
    border-radius: 5px;
}

header .wrapper-header .content-header a:hover {
    border: none;
    color: var(--purple-color);
    background-color: var(--light-color);
}

@media screen and (max-width:992px) {
    nav .link {
        display: none;
    }

    nav .hamburger {
        display: block;
    }

    header .wrapper-header {
        height: calc(100vh - 75px);
    }

    header .wrapper-header .image-header {
        display: none;
    }

    header .wrapper-header .content-header {
        text-align: center;
        flex-grow: 1;
    }

}

@media screen and (max-width:576px) {
    nav .hamburger {
        display: none;
    }

    nav {
        justify-content: center;
    }


}